@charset "UTF-8";

.order-finished-thanks-message {
  text-align: center;
}

.order-finished-btn {
  text-align: center;
}

.completeSub{
	font-size: 20px;
}

.completeLOdo{
	width: 90px;
	margin-right: 10px;
}
